{{!--
/*
 * Your installation or use of this SugarCRM file is subject to the applicable
 * terms available at
 * http://support.sugarcrm.com/Resources/Master_Subscription_Agreements/.
 * If you do not agree to all of the applicable terms or do not have the
 * authority to bind the entity as an authorized representative, then do not
 * install or use this SugarCRM file.
 *
 * Copyright (C) SugarCRM Inc. All rights reserved.
 */
--}}
<style>

    .collapsed {
        background-color: white;
        color: black;
    }

    .preview-email-btn {
        float: right;
        margin-right: 1.5rem;
        border: none;
        width: 20vh;
        height: 2.5vw;
        cursor: auto;
        background-color: #ccc;
    }

    .preview-email-btn:active {
        width: 20vh;
        color: black;
    }

    .preview-pane .activitystream-posts-comments-container {
        padding: 8px 0px 8px 54px;
    }

    li.activitystream-posts-comments-container div.accordion-toggle i.fa.fa-chevron-up {
        float: right;
        width: 6vh;
        font-size: 4vh;
        /*transform: rotate(180deg);*/
    }

    li.activitystream-posts-comments-container div.accordion-toggle.collapsed i.fa.fa-chevron-up {
        float: right;
        width: 6vh;
        font-size: 4vh;
        display: none;
    }

    li.activitystream-posts-comments-container div.accordion-toggle i.fa.fa-chevron-down {
        float: right;
        width: 6vh;
        font-size: 4vh;
        display: none;
    }

    li.activitystream-posts-comments-container div.accordion-toggle.collapsed i.fa.fa-chevron-down {
        float: right;
        width: 6vh;
        font-size: 4vh;
        display: block;
    }

    li.activitystream-posts-comments-container div.accordion-toggle.collapsed button.preview-email-btn {
        display: none;
    }

    .preview-email-btn:hover {
        background-color: #eee;
    }

</style>


<!--
    This is custom elements for showing only Subject and related Case
    I've removed default preview code which prints all fields in preview panel
-->
<div class="block preview-data" style="display: inline-block;box-sizing: border-box;width: 100%;font-size: 1.2rem">
    <div style="display: inline-block">
        <label style="display: inline-block;font-size: 1rem">Subject : </label>
        <span>{{preview_subject}}</span>
    </div>
    <div style="display: inline-block;float:right">
        <label style="display: inline-block;font-size: 1rem">Related To : </label>
        <a href="#Cases/{{related_id}}">{{related_name}}</a>
    </div>
</div>


<!--
    Custom code for displaying stacked Emails in preview pane
    stacked Emails are shown same as Activity Lists the difference is they are collapsible
    meta.emails field get populated in getEmails()
-->

<div class="block filtered activitystream-layout">
    {{#each meta.emails}}
        <div class="activitystream-list results" style="margin: .6rem 0px;">
            <li class="activitystream-posts-comments-container">
                <div class="accordion-toggle collapsed" data-toggle="collapse" href="#{{id}}">
                    <i class="fa fa-chevron-up"></i>
                    <!--
                       For opening the drawer it changes the value of unread_c(custom field)
                       which was custom field for checking the read/unread for an Email
                       Line number: 192 preview.js
                    -->
                    <i id="drop{{id}}" class="fa fa-chevron-down"></i>
                    <!--
                        Reply button where jQuery on click is set
                        with reply functionality Line number: 211 preview.js
                    -->
                    <button id="btn{{id}}" class="preview-email-btn">REPLY</button>
                </div>

                <div class="label label-module label-module-md label-Emails pull-left" rel="tooltip"
                     data-placement="right" title="Email">
                    Em
                </div>
                <p>
                </p>
                <div>
                    <span class="tagged">
                        {{name}}
                    </span>
                </div>
                <p></p>
                <span class="details">
                    <date class="date">
                    <span class="relativetime">
                        {{#if @useRelativeTime}}
                            {{relativeTime date_entered class='date' rel='tooltip'}}
                        {{else}}
                            {{str "LBL_ACTIVITYSTREAM_RELATIVETIME_ON"}}{{formatDate date_entered}}
                        {{/if}}
                    </span>
        </date>

    </span>
            </li>

            <!--
                This accordion for individual email which is collapsible
            -->
            <div id="{{id}}" class="accordion-body collapse" style="height: 0px;">
                <div class="accordion-inner">
                    <div class="row-fluid" style="display: inline-flex">
                        <div class="span">
                            <label for="">From</label>
                            {{#each from_collection.records}}
                            <span>{{email_address}}</span>
                            {{/each}}
                        </div>
                        <div style="position: absolute;right: 20px">
                            <label for="">To</label>
                            {{#each to_collection.records}}
                                <span>{{email_address}}</span>
                            {{/each}}
                        </div>
                    </div>
                    <div class="row-fluid" style="display: inline-flex;white-space: nowrap">
                        <div class="span">
                            <label for="">CC</label>
                            {{#each cc_collection.records}}
                                <span>{{email_address}}</span>
                            {{/each}}
                        </div>
                        <div style="position: absolute;right: 3.1rem">
                            <label for="">Date</label>
                            <span class="relativetime">
                                {{#if @useRelativeTime}}
                                    {{relativeTime date_entered class='date' rel='tooltip'}}
                                {{else}}
                                    {{formatDate date_entered}}
                                {{/if}}
                            </span>

                        </div>
                    </div>
                    <div class="row-fluid" style="padding-bottom: 20px">
                        <label for="">Assigned To</label>
                        <span>{{assigned_user_name}}</span>
                    </div>
                    <iframe srcdoc="{{description_html}}" id="{{id}}iframe" src="" class="htmleditable span12"
                            frameborder="0" name="description_html" style="height: 300px;">
                    </iframe>
                    <div id="desc-html" style="display: none">{{description_html}} </div>
                    <div class="row-fluid" style="display: inline-flex">
                        <!--
                            For showing attachments fields same as records page
                            But it is not getting downloaded if I click on file
                            Will solve it another day :)
                        -->
                        <div class="span">
                            <label for="">Attachments</label>
                            {{#each attachments_collection.records}}
                                <span class="normal index" data-fieldname="attachments_collection" data-index="">
                                    <span sfuuid="1075" class="detail">
                                        <div class="square-pill">
                                            <a href="javascript:void(0);" data-url="rest/v11/Notes/{{id}}/file/filename?force_download=1&amp;1520947117977=1&amp;platform=base" data-action="download">
                                                <span class="ellipsis-value ellipsis_inline" title="" data-original-title="{{filename}}">{{filename}}</span>
                                                <!--<span class="ellipsis-extra">(6K)</span>-->
                                            </a>
                                        </div>
                                    </span>
                                </span>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    {{/each}}
</div>



